header#header {
    border-bottom: 0px;
}

#contact.container, nav.navbar {
    background-color: transparent !important;
    padding-right: 0;
}

header nav ul.navbar-nav {
    margin: 0;
}

header nav ul.navbar-nav li {
    margin-left: 0px;
    padding: 13px;
}

header nav ul.navbar-nav li:hover {
    
}

.navbar-light .navbar-nav a.nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav li:hover a.nav-link {
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.vector-bg-1 {
    top: 0;
    right: 0;
    width: 45%;
    height: 600px;
    position: absolute;
    background-image: url('images/vector-right.jpg');
    background-size: cover;
    background-position: bottom left;
    z-index: -1;
}

.contact-input input.form-control {
    margin-bottom: 20px;
} 

@media (max-width: 768px) {
    div.contact-body {
        /* i need the form in there to bve justified center but max of 400px */
    }
}


@media (min-width: 767px) {
    .position-md-absolute {
        position: absolute;
    }
}

@media (min-width: 992px) {
    div.contact-body {
        margin-left: 10%;
        margin-right: 10%
    }
}